$content-gutter: 20px;

$color-brand: #ee3b33;
$color-brand-secondary: #ffde00;
$color-text: #4A4A4A;
$color-bg: lighten($color-brand-secondary, 45%);
$color-danger: #ff6347;
$color-success: #8db600;

$bg-transition: background-color 0.3s ease-in-out;